<mat-tab-group dynamicHeight class="align-items-center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_add</mat-icon>
      &nbsp;Cadastro
    </ng-template>
    <app-person></app-person>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">casino</mat-icon>
      &nbsp;Sorteador
    </ng-template>
    <app-sorter></app-sorter>   
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">celebration</mat-icon>
      &nbsp;Outros Assunstos
    </ng-template>
  </mat-tab>
</mat-tab-group>