/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-body-wrapper{
    width: 90%!important;
}
.full-width{
    width: 100%;
}
.align-items-center{
    align-items: center;
    text-align: center;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    text-align: center!important;   
}